<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Media</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<nav>
  <a href="home.html">Home</a>
  <a href="media.html">Media</a>
</nav>

<h2>Videos & Links</h2>

<iframe width="400" height="225"
src="https://www.youtube.com/embed/VuGQp5J7d5U">
</iframe>

<ul>
  <li><a href="https://www.britishjudo.org.uk/">British Judo</a></li>
  <li><a href="https://www.karateengland.org.uk/">Karate England</a></li>
</ul>

</body>
</html>